$mercado-color-lvl1: #FFE600;
$mercado-color-lvl2: #333333;
$mercado-color-lvl3: #666666;
$mercado-color-lvl4: #999999;
$mercado-color-lvl5: #EEEEEE;
$mercado-color-lvl6: #3483FA;

$mercado-space-lvl1: 16px;
$mercado-space-lvl2: 32px;

$mercado-font-lvl1: 12px;
$mercado-font-lvl2: 14px;
$mercado-font-lvl3: 16px;
$mercado-font-lvl4: 18px;
$mercado-font-lvl5: 24px;
$mercado-font-lvl6: 28px;
$mercado-font-lvl7: 46px;