$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.Header {
	height: 55px;
	background-color: #FFE600;	

	@include tablet {
		font-size: 18px;
	}

	@include desktop {
		font-size: 20px;
	}

	&-Content {
		padding: 5px 0;
		display: flex;

		.Header-Logo {
			float: left;

			img {
				height: 40px;
			}
		}

		.Header-Form {
			float: left;
			width: 100%;
			padding-left: 30px;
			position: relative;

			input[name="search"] {
				width: 100%;
				font-size: 18px;
				padding: 10px;
				height: 42px;
				color: #333333;
				border: none;
				border-radius: 4px;
				outline: none;
			}

			&-Search {
			    position: absolute;
				padding: 10px;
				top: 0;
				height: 42px;
				right: 0;
				border: none;
				width: 42px;
				border-radius: 0 4px 4px 0;
				cursor: pointer;
				background-color: #EEEEEE;
			}
		}
	}
}
