@import '../sass/mixins';

$imgLogo: '../public/img/logo.png';
$imgLogo2x: '../public/img/logo@2x.png';
$imgSearch: '../public/img/search.png';
$imgSearch2x: '../public/img/search@2x.png';

.Header {
	height: 55px;
	background-color: #FFE600;	

	@include tablet {
		font-size: 18px;
	}

	@include desktop {
		font-size: 20px;
	}

	&-Content {
		padding: 5px 0;
		display: flex;

		.Header-Logo {
			float: left;

			.Img {
				background-image: url($imgLogo);
				background-repeat: no-repeat;
				height: 44px;
				width: 53px;
				background-position-y: center;
				background-position-x: center;
				background-size: contain;

				@include mobile {
					background-image: url($imgLogo2x);
				}
			}
		}

		.Header-Form {
			float: left;
			width: 100%;
			padding-left: 30px;
			position: relative;

			input[name="search"] {
				width: 100%;
				font-size: 18px;
				padding: 10px;
				height: 42px;
				color: #333333;
				border: none;
				border-radius: 4px;
				outline: none;
			}

			&-Search {
			    position: absolute;
				padding: 10px;
				top: 0;
				height: 42px;
				right: 0;
				border: none;
				width: 42px;
				border-radius: 0 4px 4px 0;
				cursor: pointer;
				background-color: #EEEEEE;

				.Img {
					background-image: url($imgSearch);
					background-repeat: no-repeat;
					height: 25px;
					width: 25px;
					background-position-y: center;
					background-position-x: center;
					background-size: contain;

					@include mobile {
						background-image: url($imgSearch2x);
					}
				}
			}
		}
	}
}
