@import '../sass/mixins';
$imgShipping: '../public/img/shipping.png';
$imgShipping2x: '../public/img/shipping@2x.png';

.Item {
	display: flex;
	color: #333333;

	&:hover {
		background-color: #fbfbfb;
	}

	&-Picture {
		float: left;
		margin: 16px;

		&-Img {
			border-radius: 4px;
			background-size: cover;
			height: 160px;
			width: 160px;
		}
	}

	&-Description {
		float: left;
		width: 100%;

		&-Amount {
			padding-top: 50px;
			display: flex;
		}
		&-Price {
			font-size: 24px;
			float: left;
			width: 50%;

			.Img {
				padding-left: 10px;
				background-image: url($imgShipping);
				background-repeat: no-repeat;
			    background-position-y: center;
			    background-position-x: center;
			    background-size: contain;
			    padding: 0px 9px;
			    margin-left: 10px;

				@include mobile {
					background-image: url($imgShipping2x);
				}
			}
		}
		&-State {
			font-size: 12px;
			text-align: center;
			padding-top: 14px;
			float: left;
			width: 50%;
		}
		&-Title {
			padding-top: 32px;
			font-size: 18px;
		}
	}
}